.component {
  padding: 0 var(--grid-1x);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--grid-2x);
}

.content {
  display: flex;
  align-items: flex-start;
}

.movies {
  flex-grow: 4;
  flex-shrink: 1;
  margin-left: var(--grid-2x);
}

.filter {
  flex-basis: 15%;
  flex-shrink: 0;
}

@media (max-width: 767px) {
  .content {
    align-items: stretch;
    flex-direction: column;
  }

  .filter {
    margin-bottom: var(--grid-2x);
  }

  .movies {
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .filter {
    position: sticky;
    top: var(--grid-2x);
  }
}
