.component {
  display: flex;
}

.star {
  background: none;
  border: 0;
  font-size: inherit;
  position: relative;
  padding: 0;
}

.star:focus {
  outline: 0;
}

.star:before {
  color: var(--color-primary);
  content: '\2605'; /* ★ */
  margin-right: var(--grid-1xs);
}

.star.hollow:before {
  content: '\2606'; /* ☆ */
  opacity: 0.6;
}

.star.partial:before {
  background: linear-gradient(
    to right,
    var(--color-primary) 50%,
    transparent 50%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.star.partial:after {
  color: var(--color-primary);
  content: '\2606'; /* ☆ */
  left: 0;
  opacity: 0.6;
  position: absolute;
}

.interactive .star {
  cursor: pointer;
}

.interactive:focus-within .star:before,
.interactive:hover .star:before {
  content: '\2605'; /* ★ */
}

.interactive:not(:hover) .star:focus ~ .star:before,
.interactive .star:hover ~ .star:before {
  content: '\2606'; /* ☆ */
}
