.component {
  min-height: 100vh;
  color: var(--color-text);
}

.body {
  background: var(--color-backgound-body);
  font-family: 'Helvetica Neue', sans-serif;
}

.content {
  margin: var(--grid-2x) auto auto;
}

.header {
  background: var(--color-primary);
  color: var(--color-primary-text);
  font-size: 16px;
  padding: var(--grid-1x);
}

.header > div {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.header button,
.header a {
  background: transparent;
  border: 0;
  color: var(--color-primary-text);
  font-size: 16px;
}

.home {
  flex-grow: 5;
}

.authLinks {
  display: flex;
  justify-content: space-between;
}

.authLinks a {
  margin: 0 var(--grid-1x);
}

@media (max-width: 767px) {
  .content {
    padding: 0 var(--grid-1xs);
  }
}