.ui-container {
  box-sizing: border-box;
  margin: auto;
}

.ui-section {
  background: var(--color-backgound-section);
  padding: var(--grid-3x);
}

.ui-sections-padded .ui-section {
  margin-bottom: var(--grid-2x);
}

.ui-sections-padded .ui-section:last-child {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .ui-container {
    box-sizing: border-box;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .ui-container {
    min-width: var(--main-desktop-width-min);
    max-width: var(--main-desktop-width-max);
  }
}
