button:not([disabled]) {
  cursor: pointer;
}

.ui-button {
  cursor: pointer;
  padding: var(--grid-2xs);
  display: block;
  text-decoration: none;
  text-align: center;
}

.ui-button[disabled] {
  background: var(--color-disabled);
  cursor: auto;
}

/* Button Primary */

.ui-primary {
  background: var(--color-primary);
  border: 0;
  border-radius: 2px;
  color: var(--color-primary-text);
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.ui-primary:not([disabled]):hover {
  background: var(--color-primary-lighter);
}

.ui-primary:focus {
  box-shadow: 0 0 8px 0 var(--color-focused-shadow);
  outline: 0;
}

/* Button Link */

.ui-link {
  background: transparent;
  border: 0;
  color: var(--color-link);
  font-size: inherit;
  text-decoration: none;
}

.ui-link:hover {
  color: var(--color-link-lighter);
}

/* Buttons group */

.ui-buttons {
  display: flex;
  justify-content: center;
}

.ui-buttons > .ui-button {
  flex-grow: 1;
  margin-left: var(--grid-1x);
}

.ui-buttons > .ui-button:first-child {
  margin-left: 0;
}
