.ui-field {
  margin-bottom: var(--grid-1x);
  width: 100%;
}

.ui-field .ui-label,
.ui-field > label {
  display: block;
  font-weight: bold;
  margin-bottom: var(--grid-1xs);
}

.ui-field > select,
.ui-field > textarea,
.ui-field > input,
.ui-field .ui-select,
.ui-field .ui-textarea,
.ui-field .ui-input {
  background: var(--color-input-background);
  border: 1px solid var(--color-input-border);
  font-family: inherit;
  font-size: 14px;
  padding: var(--grid-1x);
  box-sizing: border-box;
  width: 100%;
}

.ui-field > textarea:focus,
.ui-field > input:focus,
.ui-field > select:focus,
.ui-field .ui-select:focus,
.ui-field .ui-textarea:focus,
.ui-field .ui-input:focus {
  box-shadow: 0 0 4px 0 var(--color-focused-shadow);
  outline: 0;
}

.ui-field > textarea,
.ui-field .ui-textarea {
  line-height: 1.3;
  resize: vertical;
}
