.ui-h1 {
  font-size: 32px;
  font-weight: bold;
}

.ui-h2 {
  font-size: 28px;
  font-weight: bold;
}

.ui-h3 {
  font-size: 24px;
  font-weight: bold;
}

.ui-h1.ui-margin {
  margin-bottom: var(--grid-3x);
}

.ui-h2.ui-margin {
  margin-bottom: var(--grid-3xs);
}

.ui-h3.ui-margin {
  margin-bottom: var(--grid-2x);
}
