.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--grid-2x);
}

.subHeader {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.categories {
  color: var(--color-text-dim);
  margin-bottom: var(--grid-2xs);
}

.categories li {
  display: inline-block;
  margin-right: var(--grid-1x);
}

.actions > * {
  display: inline-block;
  margin: 0 var(--grid-1x) 0 0;
  padding: 0;
}

.formRating {
  display: flex;
  justify-content: flex-end;
  margin-top: var(--grid-2x);
}


@media (max-width: 400px) {
  .subHeader {
    flex-direction: column;
    margin-bottom: var(--grid-2x);
  }
}