:root {
  --color-backgound-section: #fff;
  --color-backgound-body: #f1f1f1;

  --color-text: #444;
  --color-text-dim: #888;

  --color-primary: #cd853b;
  --color-primary-darker: #b47534;
  --color-primary-lighter: #d98d3f;
  --color-primary-text: #fff;

  --color-disabled: #999;

  --color-focused-shadow: #cb8947;

  --color-link: #4b71dc;
  --color-link-lighter: #527cf1;

  --color-error: #e32222;

  --color-input-background: #fff;
  --color-input-border: #e5e5e5;

  --color-delimiter: #ddd;
}
