.section {
  border-bottom: 1px solid var(--color-delimiter);
  padding: var(--grid-2x) 0;
}

.section:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.section:first-child {
  padding-top: 0;
}

.button {
  margin-top: var(--grid-2x);
  width: 100%;
}